#can1{border:grey double 10px;}

#but1{position:absolute;left:850px;top:50px;border:rgb(83, 201, 197) solid 5px;}
#but2{position:absolute;left:850px;top:100px;border:rgb(224, 131, 247) solid 5px;}
#but3{position:absolute;left:850px;top:150px;border:rgb(255, 255, 179) solid 5px;}
